<%= link_to rating_update_rating_path(movie_id: movie.id, vote: max), method: :post, remote: true, class: 'post-rating' do %>
  <span class="fa fa-star <%= movie.rating <= max ? 'checked' : '' %>"></span>
<% end %>
